@charset "UTF-8";

section#container-contato{
    
    max-width: 1000px;
    margin: auto;
    padding: 5px;
    background-color:var(--cor0);
    border-radius: 0px 0px 10px 10px;
}
section#container-contato div{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    margin-top: 10px;
}

section#container-contato h1{
    text-align: center;
    font-size: 1.4em;
}

section#container-contato p{
    text-align: center;
    text-indent: 20px;
    font-size: 1em;
}

section#container-contato img{
    max-width: 50px;
}