@charset "UTF-8";

:root {
    --cor0:hsla(147, 78%, 93%, 0.689);
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section#container-detalhe{
    max-width: 1000px;
    margin: auto;
    padding: 5px;
    background-color:var(--cor0);
    border-radius: 0px 0px 10px 10px;
}
div#detalhe-historia h3{
    font-size: .8em;
    color: var(--cor5);
}

div#detalhe-historia h1{
    margin: 10px;
    text-align: center;
    font-size: 1.4em;
    color: var(--cor5);
}

div#detalhe-historia p{
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
}


div.detalhe-cidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}
